---
layout: header-simple
title: See what GitLab can do for your team
description: "This video demo showcases GitLab’s built-in issue tracking, issue boards, version control, code review, Auto DevOps, CI/CD, SAST/DAST and more."
canonical_path: "/demo/"
suppress_header: true
extra_css:
  - demo-6147-control.css
  - demo-6147-test.css
---
= partial "/experiments/6147-control"
= partial "/experiments/6147-shared"
